<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
     <event name="checkout_onepage_controller_success_action">
        <observer name="checkout_controller_success_action" instance="Dev\RestApi\Observer\AfterPlaceOrder"  />
        <observer name="send_mail_specific_brand" instance="Dev\RestApi\Observer\Orderplaceafter"/>
    </event>
    <!-- <event name="sales_order_payment_place_end">
        <observer name="checkout_controller_success_action" instance="Dev\RestApi\Observer\AfterPaymentOrder"  />
    </event> -->
    <event name="order_cancel_after">
        <observer name="cancel_order_after" instance="Dev\RestApi\Observer\AfterCancelOrder"  />
    </event>
    <event name="customer_account_edited">
        <observer name="update_user" instance="Dev\RestApi\Observer\AfterCustomerUpdate"  />
    </event>
    <event name="amasty_customer_rma_created">
        <observer name="customer_order_item_return" instance="Dev\RestApi\Observer\AfterCustomerReturnItem"  />
    </event>
    <event name="customer_address_save_after">
        <observer name="customer_telephone_update" instance="Dev\RestApi\Observer\AfterAddressSave"  />
    </event>
    <!-- <event name="checkout_onepage_controller_success_action">
        <observer name="send_mail_specific_brand" instance="Dev\RestApi\Observer\Orderplaceafter" />
    </event> -->
</config>