<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cartedit>
            <general_option>
                <enable_module>0</enable_module>
            </general_option>
        </cartedit>
    </default>
</config>